{% extends "page.twig" %}

{% block content %}
    {% if messages %}
        <!-- Alerts -->
        <section id="docs-alerts" class="nastymaps-section my-4">
            <div class="nastymaps-wrap">
                {% for message in messages %}
                    <div class="alert alert-{{ message.type }} alert-dismissible fade show" role="alert">
                        {{ message.message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <!-- Docs -->
    <section id="docs" class="nastymaps-section my-4">
        <div class="nastymaps-wrap">
            <div class="row">
                <div class="col-12 mb-2">
                    <h2>{{ "Docs"|__ }}</h2>
                </div>
                <div class="col-12 col-md-4 col-xl-3 col-xxl-4">
                    <div class="section-desc d-flex flex-column me-lg-3 me-xl-4 me-xxl-5">
                        <div class="alert alert-info">
                            <ul class="list-group">
                                <li class="list-group-item d-flex flex-column justify-content-between align-items-center mb-0">
                                    <div class="d-flex flex-row w-100">
                                        <a class="text-decoration-none" href="#core">core/</a>
                                        <button class="toggle-icon-button btn btn-link p-0 ms-auto collapsed" data-bs-toggle="collapse" data-bs-target="#core-sub" aria-expanded="false" aria-controls="core-sub">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-down.svg" alt="Expand" class="icon-expand" draggable="false">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-up.svg" alt="Collapse" class="icon-collapse d-none" draggable="false">
                                        </button>
                                    </div>
                                    <div id="core-sub" class="subnav-wrapper w-100 collapse">
                                        <ul class="list-group w-100 my-2">
                                            <li class="list-group-item d-flex flex-column justify-content-between align-items-center mb-0">
                                                <div class="d-flex flex-row w-100">
                                                    <a class="text-decoration-none" href="#core-classes">classes/</a>
                                                    <button class="toggle-icon-button btn btn-link p-0 ms-auto collapsed" data-bs-toggle="collapse" data-bs-target="#core-classes-sub" aria-expanded="false" aria-controls="core-classes-sub">
                                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-down.svg" alt="Expand" class="icon-expand" draggable="false">
                                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-up.svg" alt="Collapse" class="icon-collapse d-none" draggable="false">
                                                    </button>
                                                </div>
                                                <div id="core-classes-sub" class="subnav-wrapper w-100 collapse">
                                                    <ul class="list-group w-100 my-2">
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#class-controller">class.controller.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#class-loader">class.loader.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#class-page">class.page.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#class-wordpress">class.wordpress.php</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex flex-column justify-content-between align-items-center mb-0">
                                                <div class="d-flex flex-row w-100">
                                                    <a class="text-decoration-none" href="#core-includes">includes/</a>
                                                    <button class="toggle-icon-button btn btn-link p-0 ms-auto collapsed" data-bs-toggle="collapse" data-bs-target="#core-includes-sub" aria-expanded="false" aria-controls="core-includes-sub">
                                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-down.svg" alt="Expand" class="icon-expand" draggable="false">
                                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-up.svg" alt="Collapse" class="icon-collapse d-none" draggable="false">
                                                    </button>
                                                </div>
                                                <div id="core-includes-sub" class="subnav-wrapper w-100 collapse">
                                                    <ul class="list-group w-100 my-2">
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#includes-controller">controller/controller.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#includes-loader">loader/loader.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#includes-page">page/page.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#includes-wordpress">wordpress/wordpress.php</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex flex-column justify-content-between align-items-center mb-0">
                                                <div class="d-flex flex-row w-100">
                                                    <a class="text-decoration-none" href="#core-pages">pages/</a>
                                                    <button class="toggle-icon-button btn btn-link p-0 ms-auto collapsed" data-bs-toggle="collapse" data-bs-target="#core-pages-sub" aria-expanded="false" aria-controls="core-pages-sub">
                                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-down.svg" alt="Expand" class="icon-expand" draggable="false">
                                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-up.svg" alt="Collapse" class="icon-collapse d-none" draggable="false">
                                                    </button>
                                                </div>
                                                <div id="core-pages-sub" class="subnav-wrapper w-100 collapse">
                                                    <ul class="list-group w-100 my-2">
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#dashboard">dashboard/controller.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#maps">maps/controller.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#templates">templates/controller.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#extensions">extensions/controller.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#settings">settings/controller.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#about">about/controller.php</a></li>
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#docs">docs/controller.php</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex flex-column justify-content-between align-items-center mb-0">
                                                <div class="d-flex flex-row w-100">
                                                    <a class="text-decoration-none" href="#core-templates">templates/</a>
                                                    <button class="toggle-icon-button btn btn-link p-0 ms-auto collapsed" data-bs-toggle="collapse" data-bs-target="#core-templates-sub" aria-expanded="false" aria-controls="core-templates-sub">
                                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-down.svg" alt="Expand" class="icon-expand" draggable="false">
                                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-keyboard-arrow-up.svg" alt="Collapse" class="icon-collapse d-none" draggable="false">
                                                    </button>
                                                </div>
                                                <div id="core-templates-sub" class="subnav-wrapper w-100 collapse">
                                                    <ul class="list-group w-100 my-2">
                                                        <li class="list-group-item mb-0"><a class="text-decoration-none" href="#templates-page">page.twig</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="list-group-item mb-0"><a class="text-decoration-none" href="#constants">constants.php</a></li>
                                <li class="list-group-item mb-0"><a class="text-decoration-none" href="#exceptions">exceptions.php</a></li>
                                <li class="list-group-item mb-0"><a class="text-decoration-none" href="#functions">functions.php</a></li>
                                <li class="list-group-item mb-0"><a class="text-decoration-none" href="#loader">loader.php</a></li>
                                <li class="list-group-item mb-0"><a class="text-decoration-none" href="#nastymaps">nastymaps.php</a></li>
                                <li class="list-group-item mb-0"><a class="text-decoration-none" href="#uninstall">uninstall.php</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9 col-xxl-8">
                    <div class="wrapper p-3 rounded">
                        <section id="core">
                            <h3>
                                <a class="text-decoration-none" href="#core">
                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                </a>
                                Core
                            </h3>
                            <!-- Content for core -->
                            <section id="core-classes" class="ms-3">
                                <h4>
                                    <a class="text-decoration-none" href="#core-classes">
                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                    </a>
                                    Classes
                                </h4>
                                <!-- Content for classes -->
                                <article id="class-controller" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#class-controller">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        class.controller.php
                                    </h5>
                                    <!-- Content for class.controller.php -->
                                </article>
                                <article id="class-loader" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#class-loader">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        class.loader.php
                                    </h5>
                                    <!-- Content for class.loader.php -->
                                </article>
                                <article id="class-page" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#class-page">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        class.page.php
                                    </h5>
                                    <!-- Content for class.page.php -->
                                </article>
                                <article id="class-wordpress" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#class-wordpress">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        class.wordpress.php
                                    </h5>
                                    <!-- Content for class.wordpress.php -->
                                </article>
                            </section>
                            <section id="core-includes" class="ms-3">
                                <h4>
                                    <a class="text-decoration-none" href="#core-includes">
                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                    </a>
                                    Includes
                                </h4>
                                <!-- Content for includes -->
                                <article id="includes-controller" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#includes-controller">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        controller/controller.php
                                    </h5>
                                    <!-- Content for controller/controller.php -->
                                </article>
                                <article id="includes-loader" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#includes-loader">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        loader/loader.php
                                    </h5>
                                    <!-- Content for loader/loader.php -->
                                </article>
                                <article id="includes-page" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#includes-page">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        page/page.php
                                    </h5>
                                    <!-- Content for page/page.php -->
                                </article>
                                <article id="includes-wordpress" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#includes-wordpress">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        wordpress/wordpress.php
                                    </h5>
                                    <!-- Content for wordpress/wordpress.php -->
                                </article>
                            </section>
                            <section id="core-pages" class="ms-3">
                                <h4>
                                    <a class="text-decoration-none" href="#core-pages">
                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                    </a>
                                    Pages
                                </h4>
                                <!-- Content for pages -->
                                <article id="dashboard" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#dashboard">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        dashboard/controller.php
                                    </h5>
                                    <!-- Content for dashboard/controller.php -->
                                </article>
                                <article id="maps" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#maps">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        maps/controller.php
                                    </h5>
                                    <!-- Content for maps/controller.php -->
                                </article>
                                <article id="templates" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#templates">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        templates/controller.php
                                    </h5>
                                    <!-- Content for templates/controller.php -->
                                </article>
                                <article id="extensions" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#extensions">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        extensions/controller.php
                                    </h5>
                                    <!-- Content for extensions/controller.php -->
                                </article>
                                <article id="settings" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#settings">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        settings/controller.php
                                    </h5>
                                    <!-- Content for settings/controller.php -->
                                </article>
                                <article id="about" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#about">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        about/controller.php
                                    </h5>
                                    <!-- Content for about/controller.php -->
                                </article>
                                <article id="docs" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#docs">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        docs/controller.php
                                    </h5>
                                    <!-- Content for docs/controller.php -->
                                </article>
                            </section>
                            <section id="core-templates" class="ms-3">
                                <h4>
                                    <a class="text-decoration-none" href="#core-templates">
                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                    </a>
                                    Templates
                                </h4>
                                <!-- Content for templates -->
                                <article id="templates-page" class="ms-3">
                                    <h5>
                                        <a class="text-decoration-none" href="#templates-page">
                                            <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                        </a>
                                        page.twig
                                    </h5>
                                    <!-- Content for page.twig -->
                                </article>
                            </section>
                        </section>
                        <section id="constants">
                            <h3>
                                <a class="text-decoration-none" href="#constants">
                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                </a>
                                constants.php
                            </h3>
                            <!-- Content for constants.php -->
                        </section>
                        <section id="exceptions">
                            <h3>
                                <a class="text-decoration-none" href="#exceptions">
                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                </a>
                                exceptions.php
                            </h3>
                            <!-- Content for exceptions.php -->
                        </section>
                        <section id="functions">
                            <h3>
                                <a class="text-decoration-none" href="#functions">
                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                </a>
                                functions.php
                            </h3>
                            <!-- Content for functions.php -->
                        </section>
                        <section id="loader">
                            <h3>
                                <a class="text-decoration-none" href="#loader">
                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                </a>
                                loader.php
                            </h3>
                            <!-- Content for loader.php -->
                        </section>
                        <section id="nastymaps">
                            <h3>
                                <a class="text-decoration-none" href="#nastymaps">
                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                </a>
                                nastymaps.php
                            </h3>
                            <!-- Content for nastymaps.php -->
                        </section>
                        <section id="uninstall">
                            <h3>
                                <a class="text-decoration-none" href="#uninstall">
                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-link-light.svg" alt="Link" class="icon-link">
                                </a>
                                uninstall.php
                            </h3>
                            <!-- Content for uninstall.php -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
