{% extends "page.twig" %}

{% block content %}
    {% if messages %}
        <!-- Alerts -->
        <section id="settings-alerts" class="nastymaps-section my-4">
            <div class="nastymaps-wrap">
                {% for message in messages %}
                    <div class="alert alert-{{ message.type }} alert-dismissible fade show" role="alert">
                        {{ message.message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <!-- General -->
    <section id="settings-general" class="nastymaps-section mt-4 mb-5">
        <div class="nastymaps-wrap">
            <div class="row">
                <div class="col-12 mb-2">
                    <h2>{{ "General"|__ }}</h2>
                </div>
                <div class="col-12 col-md-4 col-xl-3 col-xxl-4">
                    <div class="section-desc d-flex flex-column me-lg-3 me-xl-4 me-xxl-5">
                        <div class="desc-row alert alert-info d-flex flex-row gap-3">
                            <div class="icon-wrap">
                                <img src="{{ plugin_url }}assets/img/icons/material-icons-info.svg" alt="Info" width="22" height="22" draggable="false">
                            </div>
                            <div class="text-wrap">
                                <span>{{ "The general settings are for the basic configuration of the plugin"|__ }}.</span>
                                <span>{{ "Make sure to double-check your settings before saving them since they can affect the functionality of the plugin"|__ }}.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9 col-xxl-8">
                    <form id="nastymaps-settings" method="post">
                        <div class="row">
                            {% if settings %}
                                {% for setting in settings %}
                                    <div class="col-12 col-md-6">
                                        <div class="form-floating">
                                            <input type="text" id="{{ setting.name }}" name="settings[{{ setting.name }}]" class="form-control"{% if setting.value %} value="{{ setting.value }}"{% endif %}>
                                            <label for="{{ setting.name }}">{{ setting.label }}</label>
                                            <p class="form-text">{{ setting.description|raw }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="col-12">
                                <div class="button-wrapper d-flex align-items-center mt-3">
                                    <button type="submit" class="btn bg-nastymaps-action text-light d-flex align-items-center justify-content-center w-100">
                                        <img src="{{ plugin_url }}assets/img/icons/material-icons-save.svg" alt="Save" width="20" height="20" draggable="false">
                                        <span class="ms-2">{{ "Save changes"|__ }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Metaboxes -->
    <section id="settings-metaboxes" class="nastymaps-section my-5">
        <div class="nastymaps-wrap">
            <div class="row">
                <div class="col-12 mb-2">
                    <h2 class="d-flex flex-row align-items-center gap-2">
                        {{ "Metaboxes"|__ }}
                    </h2>
                </div>
                <div class="col-12 col-md-4 col-xl-3 col-xxl-4">
                    <div class="section-desc d-flex flex-column me-lg-3 me-xl-4 me-xxl-5">
                        <div class="desc-row alert alert-info d-flex flex-row gap-3">
                            <div class="icon-wrap">
                                <img src="{{ plugin_url }}assets/img/icons/material-icons-info.svg" alt="Info" width="22" height="22" draggable="false">
                            </div>
                            <div class="text-wrap">
                                <span>{{ "The metaboxes are inside a post from the post type location found under"|__ }} <a class="text-decoration-none fw-bold text-info" href="{{ page_location }}" target="_blank">{{ "Locations"|__ }}</a>.</span>
                                <span>{{ "They are used to group your custom fields to edit them in the backend"|__ }}.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9 col-xxl-8">
                    {% if metaboxes %}
                        <table id="settings-metaboxes-table" class="table table-hover" data-search-icon="{{ plugin_url }}assets/img/icons/material-icons-search.svg" data-metabox-icon="{{ plugin_url }}assets/img/icons/material-icons-ad.svg">
                            <thead>
                                <tr>
                                    <th scope="col">{{ "Name"|__ }}</th>
                                    <th scope="col">{{ "Unique ID"|__ }}</th>
                                    <th scope="col">{{ "Callback"|__ }}</th>
                                    <th scope="col" class="text-end">{{ "Actions"|__ }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, metabox in metaboxes %}
                                    <tr>
                                        <td>{{ metabox.name }}</td>
                                        <td>{{ metabox.unique_id }}</td>
                                        <td>{{ metabox.callback }}</td>
                                        <td>
                                            <div class="button-group gap-1 d-flex flex-row">
                                                <button class="btn bg-nastymaps-action text-light btn-sm d-flex align-items-center justify-content-center ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#metabox-{{ key }}-edit" aria-controls="metabox-{{ key }}-edit">
                                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-edit.svg" alt="Edit" class="me-1" width="16" height="16">
                                                    <p class="mb-0">{{ "Edit"|__ }}</p>
                                                </button>
                                                <button class="btn btn-danger btn-sm d-flex align-items-center justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#metabox-{{ key }}-delete" aria-controls="metabox-{{ key }}-delete">
                                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-delete.svg" alt="Delete" class="me-1" width="16" height="16">
                                                    <p class="mb-0">{{ "Delete"|__ }}</p>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <div class="button-wrapper d-flex align-items-center mt-3">
                        <button class="btn bg-nastymaps-action text-light d-flex align-items-center justify-content-center w-100" type="button" data-bs-toggle="modal" data-bs-target="#metabox-add" aria-controls="metabox-add">
                            <img src="{{ plugin_url }}assets/img/icons/material-icons-add.svg" alt="Add" width="20" height="20">
                            <span class="ms-2">{{ "New metabox"|__ }}</span>
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    {% if metaboxes %}
                        {% for key, metabox in metaboxes %}
                            <div class="modal fade" id="metabox-{{ key }}-edit" tabindex="-1" aria-labelledby="metabox-{{ key }}-edit-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <form class="dynamic-form" id="nastymaps-metabox-{{ key }}-form-edit" method="POST">
                                        <input type="hidden" name="metabox[id]" value="{{ metabox.id }}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ "Edit metabox"|__ }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating">
                                                            <input type="text" id="metabox-{{ key }}-name" name="metabox[name]" class="form-control" placeholder="" value="{{ metabox.name }}">
                                                            <label for="metabox-{{ key }}-name">{{ "Name"|__ }}</label>
                                                            <p class="form-text">{{ "The name of the metabox"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating">
                                                            <input type="text" id="metabox-{{ key }}-unique_id" name="metabox[unique_id]" class="form-control" placeholder="" value="{{ metabox.unique_id }}">
                                                            <label for="metabox-{{ key }}-unique_id">{{ "Unique ID"|__ }}</label>
                                                            <p class="form-text">{{ "The unique identifier for the metabox"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-floating">
                                                            <input type="text" id="metabox-{{ key }}-callback" name="metabox[callback]" class="form-control" placeholder="" value="{{ metabox.callback }}">
                                                            <label for="metabox-{{ key }}-callback">{{ "Callback"|__ }}</label>
                                                            <p class="form-text mb-0">{{ "The callback function to be called when rendering the metabox"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                                <button type="submit" name="metabox[action]" value="edit" class="btn bg-nastymaps-action text-light">{{ "Save changes"|__ }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal fade" id="metabox-{{ key }}-delete" tabindex="-1" aria-labelledby="metabox-{{ key }}-delete-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <form class="dynamic-form" id="nastymaps-metabox-{{ key }}-form-delete" method="POST">
                                            <input type="hidden" name="metabox_id" value="{{ metabox.id }}">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ "Delete metabox"|__ }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ "Are you sure you want to remove"|__ }} {{ "the metabox"|__ }} <b>"{{ metabox.name|__ }}"</b>?<br></p>
                                                <div class="alert text-center alert-danger mb-0" role="alert">
                                                    <p class="mb-0"><b>{{ "Warning"|__ }}:</b> {{ "This action cannot be undone"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                                <button type="submit" name="metabox[action]" value="delete" class="btn bg-nastymaps-action text-light">{{ "Go ahead"|__ }}!</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="modal fade" id="metabox-add" tabindex="-1" aria-labelledby="metabox-add-label" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <form class="dynamic-form" id="nastymaps-metabox-form-add" method="POST">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ "New metabox"|__ }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="form-floating">
                                                    <input type="text" id="metabox-name" name="metabox[name]" class="form-control" placeholder="" value="">
                                                    <label for="metabox-name">{{ "Name"|__ }}</label>
                                                    <p class="form-text">{{ "The name of the metabox"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="form-floating">
                                                    <input type="text" id="metabox-unique_id" name="metabox[unique_id]" class="form-control" placeholder="" value="">
                                                    <label for="metabox-unique_id">{{ "Unique ID"|__ }}</label>
                                                    <p class="form-text">{{ "The unique identifier for the metabox"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-floating">
                                                    <input type="text" id="metabox-callback" name="metabox[callback]" class="form-control" placeholder="" value="">
                                                    <label for="metabox-callback">{{ "Callback"|__ }}</label>
                                                    <p class="form-text mb-0">{{ "The callback function to be called when rendering the metabox"|__ }}.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                        <button type="submit" name="metabox[action]" value="add" class="btn bg-nastymaps-action text-light">{{ "Add metabox"|__ }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Custom fields -->
    <section id="settings-custom-fields" class="nastymaps-section mt-5 mb-4">
        <div class="nastymaps-wrap">
            <div class="row">
                <div class="col-12 mb-2">
                    <h2 class="d-flex flex-row align-items-center gap-2">
                        {{ "Custom fields"|__ }}
                    </h2>
                </div>
                <div class="col-12 col-md-4 col-xl-3 col-xxl-4">
                    <div class="section-desc d-flex flex-column me-lg-3 me-xl-4 me-xxl-5">
                        <div class="desc-row alert alert-info d-flex flex-row gap-3">
                            <div class="icon-wrap">
                                <img src="{{ plugin_url }}assets/img/icons/material-icons-info.svg" alt="Info" width="22" height="22" draggable="false">
                            </div>
                            <div class="text-wrap">
                                <span>{{ "The custom fields are for the metaboxes in your location"|__ }}.<br>{{ "They are used to hold your individual data that you want to display on your page"|__ }}.</span>
                                <span>{{ "The unique id of each field is also the placeholder for the templates. You can also add more placeholders down below"|__ }}.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9 col-xxl-8">
                    {% if custom_fields %}
                        <table id="settings-custom-fields-table" class="table table-hover" data-search-icon="{{ plugin_url }}assets/img/icons/material-icons-search.svg" data-custom-field-icon="{{ plugin_url }}assets/img/icons/material-icons-variables.svg">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Unique ID</th>
                                    <th scope="col">Metabox</th>
                                    <th scope="col" class="text-end">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, custom_field in custom_fields %}
                                    <tr>
                                        <td>{{ custom_field.name }}</td>
                                        <td>{{ custom_field.unique_id }}</td>
                                        <td>{% set metabox = metaboxes|filter(metabox => metabox.id == custom_field.metabox_id) %}{{ metabox|first.name|__ }}</td>
                                        <td>
                                            <div class="button-group gap-1 d-flex flex-row">
                                                <button class="btn bg-nastymaps-action text-light btn-sm d-flex align-items-center justify-content-center ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#custom-field-{{ key }}-edit" aria-controls="custom-field-{{ key }}-edit">
                                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-edit.svg" alt="Edit" class="me-1" width="16" height="16">
                                                    <p class="mb-0">{{ "Edit"|__ }}</p>
                                                </button>
                                                <button class="btn btn-danger btn-sm d-flex align-items-center justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#custom-field-{{ key }}-delete" aria-controls="custom-field-{{ key }}-delete">
                                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-delete.svg" alt="Delete" class="me-1" width="16" height="16">
                                                    <p class="mb-0">{{ "Delete"|__ }}</p>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <div class="button-wrapper d-flex align-items-center mt-3">
                        <button class="btn bg-nastymaps-action text-light d-flex align-items-center justify-content-center w-100" type="button" data-bs-toggle="modal" data-bs-target="#custom-field-add" aria-controls="custom-field-add">
                            <img src="{{ plugin_url }}assets/img/icons/material-icons-add.svg" alt="Add" class="me-2" width="20" height="20">
                            {{ "New custom field"|__ }}
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    {% if custom_fields %}
                        {% for key, custom_field in custom_fields %}
                            <div class="modal fade" id="custom-field-{{ key }}-edit" tabindex="-1" aria-labelledby="custom-field-{{ key }}-edit-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <form class="dynamic-form" id="nastymaps-custom-field-{{ key }}-form-edit" method="POST">
                                        <input type="hidden" name="custom_field[id]" value="{{ custom_field.id }}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ "Edit custom field"|__ }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating">
                                                            <input type="text" id="custom-field-{{ key }}-name" name="custom_field[name]" class="form-control" placeholder="" value="{{ custom_field.name }}">
                                                            <label for="custom-field-{{ key }}-name">{{ "Name"|__ }}</label>
                                                            <p class="form-text">{{ "The name of the custom field"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating">
                                                            <input type="text" id="custom-field-{{ key }}-unique_id" name="custom_field[unique_id]" class="form-control" placeholder="" value="{{ custom_field.unique_id }}">
                                                            <label for="custom-field-{{ key }}-unique_id">{{ "Unique ID"|__ }}</label>
                                                            <p class="form-text">{{ "The unique identifier for the custom field"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating">
                                                            <select id="custom-field-{{ key }}-metabox_id" name="custom_field[metabox_id]" class="form-select form-control">
                                                                <option value="">{{ "Select metabox"|__ }}</option>
                                                                {% if metaboxes %}
                                                                    {% for metabox in metaboxes %}
                                                                        <option value="{{ metabox.id }}"{% if (metabox.id == custom_field.metabox_id) %} selected{% endif %}>{{ metabox.name|__ }}</option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                            <label for="custom-field-{{ key }}-metabox_id">{{ "Metabox"|__ }}</label>
                                                            <p class="form-text mb-0">{{ "The metabox to which the custom field belongs"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                                <button type="submit" name="custom_field[action]" value="edit" class="btn bg-nastymaps-action text-light">{{ "Save changes"|__ }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal fade" id="custom-field-{{ key }}-delete" tabindex="-1" aria-labelledby="custom-field-{{ key }}-delete-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <form class="dynamic-form" id="nastymaps-custom-field-{{ key }}-form-delete" method="POST">
                                            <input type="hidden" name="custom_field_id" value="{{ custom_field.id }}">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ "Delete custom field"|__ }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ "Are you sure you want to remove"|__ }} {{ "the custom field"|__ }} <b>"{{ custom_field.name|__ }}"</b>?<br></p>
                                                <div class="alert text-center alert-danger mb-0" role="alert">
                                                    <p class="mb-0"><b>{{ "Warning"|__ }}:</b> {{ "This action cannot be undone"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                                <button type="submit" name="custom_field[action]" value="delete" class="btn bg-nastymaps-action text-light">{{ "Go ahead"|__ }}!</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="modal fade" id="custom-field-add" tabindex="-1" aria-labelledby="custom-field-add-label" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <form class="dynamic-form" id="nastymaps-custom-field-form-add" method="POST">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ "New custom field"|__ }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="form-floating">
                                                    <input type="text" id="custom-field-name" name="custom_field[name]" class="form-control" placeholder="" value="">
                                                    <label for="custom-field-name">{{ "Name"|__ }}</label>
                                                    <p class="form-text">{{ "The name of the custom field"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="form-floating">
                                                    <input type="text" id="custom-field-unique_id" name="custom_field[unique_id]" class="form-control" placeholder="" value="">
                                                    <label for="custom-field-unique_id">{{ "Unique ID"|__ }}</label>
                                                    <p class="form-text">{{ "The unique identifier for the custom field"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="form-floating">
                                                    <select id="custom-field-metabox_id" name="custom_field[metabox_id]" class="form-select form-control">
                                                        <option value="">{{ "Select metabox"|__ }}</option>
                                                        {% if metaboxes %}
                                                            {% for metabox in metaboxes %}
                                                                <option value="{{ metabox.id }}">{{ metabox.name|__ }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <label for="custom-field-metabox_id">{{ "Metabox"|__ }}</label>
                                                    <p class="form-text">{{ "The metabox to which the custom field belongs"|__ }}.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                        <button type="submit" name="custom_field[action]" value="add" class="btn bg-nastymaps-action text-light">{{ "Add custom field"|__ }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Variables -->
    <section id="settings-variables" class="nastymaps-section mt-5 mb-4">
        <div class="nastymaps-wrap">
            <div class="row">
                <div class="col-12 mb-2">
                    <h2 class="d-flex flex-row align-items-center gap-2">
                        {{ "Variables"|__ }}
                    </h2>
                </div>
                <div class="col-12 col-md-4 col-xl-3 col-xxl-4">
                    <div class="section-desc d-flex flex-column me-lg-3 me-xl-4 me-xxl-5">
                        <div class="desc-row alert alert-info d-flex flex-row gap-3">
                            <div class="icon-wrap">
                                <img src="{{ plugin_url }}assets/img/icons/material-icons-info.svg" alt="Info" width="22" height="22" draggable="false">
                            </div>
                            <div class="text-wrap">
                                <span>{{ "Variables are used to display custom data in your templates"|__ }}.</span>
                                <span>{{ "They are unique and can be used in your templates as variables"|__ }}.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-xl-9 col-xxl-8">
                    {% if variables %}
                        <table id="settings-variables-table" class="table table-hover" data-search-icon="{{ plugin_url }}assets/img/icons/material-icons-search.svg" data-variables-icon="{{ plugin_url }}assets/img/icons/material-icons-variables.svg">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Unique ID</th>
                                    <th scope="col">Value</th>
                                    <th scope="col" class="text-end">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, variable in variables %}
                                    <tr>
                                        <td>{{ variable.name }}</td>
                                        <td>{{ variable.unique_id }}</td>
                                        <td>{{ variable.value }}</td>
                                        <td>
                                            <div class="button-group gap-1 d-flex flex-row">
                                                <button class="btn bg-nastymaps-action text-light btn-sm d-flex align-items-center justify-content-center ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#variable-{{ key }}-edit" aria-controls="variable-{{ key }}-edit">
                                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-edit.svg" alt="Edit" class="me-1" width="16" height="16">
                                                    <p class="mb-0">{{ "Edit"|__ }}</p>
                                                </button>
                                                <button class="btn btn-danger btn-sm d-flex align-items-center justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#variable-{{ key }}-delete" aria-controls="variable-{{ key }}-delete">
                                                    <img src="{{ plugin_url }}assets/img/icons/material-icons-delete.svg" alt="Delete" class="me-1" width="16" height="16">
                                                    <p class="mb-0">{{ "Delete"|__ }}</p>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <div class="button-wrapper d-flex align-items-center mt-3">
                        <button class="btn bg-nastymaps-action text-light d-flex align-items-center justify-content-center w-100" type="button" data-bs-toggle="modal" data-bs-target="#variable-add" aria-controls="variable-add">
                            <img src="{{ plugin_url }}assets/img/icons/material-icons-add.svg" alt="Add" class="me-2" width="20" height="20">
                            {{ "New variable"|__ }}
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    {% if variables %}
                        {% for key, variable in variables %}
                            <div class="modal fade" id="variable-{{ key }}-edit" tabindex="-1" aria-labelledby="variable-{{ key }}-edit-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <form class="dynamic-form" id="nastymaps-variable-{{ key }}-form-edit" method="POST">
                                        <input type="hidden" name="variable[id]" value="{{ variable.id }}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ "Edit variable"|__ }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating">
                                                            <input type="text" id="variable-{{ key }}-name" name="variable[name]" class="form-control" placeholder="" value="{{ variable.name }}">
                                                            <label for="variable-{{ key }}-name">{{ "Name"|__ }}</label>
                                                            <p class="form-text">{{ "The name of the variable"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating">
                                                            <input type="text" id="variable-{{ key }}-unique_id" name="variable[unique_id]" class="form-control" placeholder="" value="{{ variable.unique_id }}">
                                                            <label for="variable-{{ key }}-unique_id">{{ "Unique ID"|__ }}</label>
                                                            <p class="form-text">{{ "The unique identifier for the variable"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating">
                                                            <input type="text" id="variable-{{ key }}-value" name="variable[value]" class="form-control" placeholder="" value="{{ variable.value }}">
                                                            <label for="variable-{{ key }}-value">{{ "Value"|__ }}</label>
                                                            <p class="form-text">{{ "The value of the variable"|__ }}.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                                <button type="submit" name="variable[action]" value="edit" class="btn bg-nastymaps-action text-light">{{ "Save changes"|__ }}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal fade" id="variable-{{ key }}-delete" tabindex="-1" aria-labelledby="variable-{{ key }}-delete-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <form class="dynamic-form" id="nastymaps-variable-{{ key }}-form-delete" method="POST">
                                            <input type="hidden" name="variable_id" value="{{ variable.id }}">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ "Delete variable"|__ }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{ "Are you sure you want to remove"|__ }} {{ "the variable"|__ }} <b>"{{ variable.name|__ }}"</b>?<br></p>
                                                <div class="alert text-center alert-danger mb-0" role="alert">
                                                    <p class="mb-0"><b>{{ "Warning"|__ }}:</b> {{ "This action cannot be undone"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                                <button type="submit" name="variable[action]" value="delete" class="btn bg-nastymaps-action text-light">{{ "Go ahead"|__ }}!</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="modal fade" id="variable-add" tabindex="-1" aria-labelledby="variable-add-label" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <form class="dynamic-form" id="nastymaps-variable-form-add" method="POST">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ "New variable"|__ }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <div class="form-floating">
                                                    <input type="text" id="variable-name" name="variable[name]" class="form-control" placeholder="" value="">
                                                    <label for="variable-name">{{ "Name"|__ }}</label>
                                                    <p class="form-text">{{ "The name of the variable"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="form-floating">
                                                    <input type="text" id="variable-unique_id" name="variable[unique_id]" class="form-control" placeholder="" value="">
                                                    <label for="variable-unique_id">{{ "Unique ID"|__ }}</label>
                                                    <p class="form-text">{{ "The unique identifier for the variable"|__ }}.</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="form-floating">
                                                    <input type="text" id="variable-value" name="variable[value]" class="form-control" placeholder="" value="">
                                                    <label for="variable-value">{{ "Value"|__ }}</label>
                                                    <p class="form-text">{{ "The value of the variable"|__ }}.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Cancel"|__ }}</button>
                                        <button type="submit" name="variable[action]" value="add" class="btn bg-nastymaps-action text-light">{{ "Add variable"|__ }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
